streamlit==1.46.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.7.5
spectrum_utils==0.4.2
plotly==6.2.0
requests==2.32.3
pyteomics==4.7.5
xlsxwriter==3.1.2
lxml==6.0.0
easygui==0.98.0
massql
tqdm
numba==0.59.1
llvmlite==0.42.0
pyinstaller==6.6.0
